@font-face {
  font-family: "iconfont";
  src: url('~@/static/iconfont/iconfont.ttf');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-praise:before {
  content: "\e616";
}

.icon-comment:before {
  content: "\e603";
}

.icon-collection-fill:before {
  content: "\e630";
}

.icon-collection:before {
  content: "\e632";
}

.icon-user:before {
  content: "\e63d";
}

.icon-praise-fill:before {
  content: "\e60a";
}

.icon-search:before {
  content: "\e609";
}
