* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.pr {
  position: relative;
}

.ps {
  position: absolute;
}

.pf {
  position: fixed;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.w100 {
  width: 100%;
}

.fs10 {
  font-size: 20rpx;
}

.fs12 {
  font-size: 24rpx;
}

.fs14 {
  font-size: 28rpx;
}

.fs16 {
  font-size: 32rpx;
}

.fs18 {
  font-size: 36rpx;
}

.fs20 {
  font-size: 40rpx;
}

.color33 {
  color: #333;
}

.color99 {
  color: #999;
}

.color4a {
  color: #4A4A4A;
}

.colorfb {
  color: #BFBFBF;
}

.color-default {
  color: #2F85FC;
}

.bg-color-f {
  background: #FFF;
}

.bg-color-f5 {
  background: #F5F5F5;
}

#Detail .article img {
  width: 100%;
}
#Detail .article p {
  font-size: 24rpx;
}